{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<header class="masthead "
        style="color:white;background-image: url({{ url_for('static', filename='images/add.jpg')}});
        background-repeat:no-repeat;background-size:cover; background-position: center center; height:700px;">
    <div class="container-fluid start-end" style="padding-top:10px;border-radius:25px;">
        <div style="height:50%; margin:auto;padding:0;color:white;">
            <div style="margin:auto;">
                <h3 style="padding:0;font-size:5rem;">Please ADD details of new cafe:  </h3>
                <div class="col-md-12 col-sm-6 col-md-offset-4 col-sm-offset-4"
                     style="width:33%;background-color:#FEDDBE;color:#5E454B;padding:1%;font-size:2rem;border-radius:25px;">
                    {% if get_flashed_messages(): %}
                    <div class="alert alert-danger" role="alert">
                        {{ get_flashed_messages()[0] }}
                    </div>
                    {% endif %}
                    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </div>
            </div>
        </div>
    </div>
</header>

{% include "footer.html" %}
{% endblock %}
