{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<header class="masthead "
        style="background-image: url({{ url_for('static', filename='images/cafe.jpg')}});
        background-repeat:no-repeat;background-size:cover; background-position: center center; height:600px;">
    <div class="container-fluid start-end" style="padding-top: 5%;padding-bottom: 1%;">
        <div style="height:50%; width:90%;background-color:#313131; border: 3px solid #161616;margin:auto;padding:2% 2% 1% 2%;color:white;border-radius:25px;">
            <h3 style="font-size:6rem;"> Welcome to WorKKaffe !! </h3>
            <h3 style="font-size:4rem;">The place where you can check the Cafes around you providing seats, WiFi
                and good
                food ! </h3>
            <p style="font-size:3rem;">☕🍩🍵🍪☕ </p>
        </div>
    </div>
    <div style="padding: 3% 0 0 0;">
    <h3 style="font-size:3rem; text-align:center;padding: 2%;margin:auto;background-color:#313131;color:white;width: 40%;border-radius:50%;border: 3px solid #161616;">
        Below is the list of Cafes in your area </h3>
</div>

</header>


<div style="padding: 2% 0; background-image: url({{ url_for('static', filename='images/tablebg.jpg')}});">
    <div class="table-content">
        <table class="table table-hover table-light" style="font-size:2rem;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cafe Name</th>
                <th scope="col">City</th>
                <th scope="col">WiFi</th>
                <th scope="col">Seating</th>
                <th scope="col">Food & Coffee</th>
                <th scope="col">Cost</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for data in cafe_database%}
            <tr>
                <th scope="row">{{data.id}}</th>
                <td><a href="{{url_for('about_cafe',index=data.id)}}">{{data.cafe_name}}</a></td>
                <td>{{data.address}}</td>
                <td>{{data.wifi}}</td>
                <td>{{data.seating}}</td>
                <td>{{data.food}}</td>
                <td>{{data.cost}}</td>
                <td><a href="{{url_for('edit_cafe',index=data.id)}}"><i class="fas fa-pen"></i></a></td>
                <td><a href="{{url_for('delete_cafe',index=data.id)}}"><i class="fas fa-trash"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid" style="margin:auto;text-align:center;font-size:2rem;">
    <h1 style="font-size:3rem;">Add new Cafe</h1>
    <a href="{{url_for('add_cafe')}}">
        <button class="btn btn-dark btn-lg" type="button">Add</button>
    </a>
</div>

{% include "footer.html" %}
{% endblock %}
